@page "/"
@using Blazored.Toast.Services;
@using PeerLib.Data;
@inject HttpClient Http
@inject IToastService toast
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject WalletAppModel wallet
@inject NavigationManager Nav
<h1>Messages</h1>
<div class="row">


@foreach(var msg in messages)
{
    <div class="col-md-6 col-xs-12">
    <div class="card m-1 p-1">
        <div class="card-header">
            <h4>Node: @msg.NodePubKey</h4>

            <h5>@msg.Sender : @msg.Receiver</h5>
        </div>
        <div class="card-body">
            <p>Height @msg.Height</p>
            <p>Amount @msg.Amount</p>
            <p>Text @msg.Txt</p>
            <p>Key @msg.PublicKey</p>
                    <p>Time stamp @msg.TimeStamp</p>
         @*    <p>Signature @msg.Signature</p> *@


        </div>
    </div>
    </div>
}
</div>
<p>@err</p>
@code {
    List<MessageModel> messages = new List<MessageModel>();
    string err="";
    protected override async Task OnInitializedAsync()
    {
        if(await localStorage.ContainKeyAsync("firstrun"))
        {
            wallet.FirstRun=Convert.ToInt32(  await localStorage.GetItemAsStringAsync("firstrun"));
            wallet.PrivateKey = await localStorage.GetItemAsStringAsync("privatekey");
            wallet.NodeAddress = await localStorage.GetItemAsStringAsync("NodeAddress");


        }
        else
        {

         //   await   localStorage.SetItemAsStringAsync("firstrun", "1");
         //   await localStorage.SetItemAsStringAsync("privatekey", "");
          //  await localStorage.SetItemAsStringAsync("NodeAddress", "");
            Nav.NavigateTo("/setting");

        }
        //  Http.DefaultRequestHeaders.Clear();
        //  Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", StateContainer.Token);
        try
        {
            messages = await Http.GetFromJsonAsync<List<MessageModel>>("Message");
           
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    
    }
}